body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    background-color: #f1ece9;
}

/* Style the header with a beige background and some padding */
.header {
  overflow: hidden;
  background-color: #f1ece9;
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 10px;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #9e7bb5;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: #9966cc;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Styling the logo image on the nav bar */
.logo-image{
    width: 500px;
    height: 60px;
    margin-top: -6px;
}

/* Styling the text and paragraphs */ 
h1 {
    font-family: "Sofia", sans-serif;
}
h1, p {
    text-align: center;
}
p {
   margin: 5px 50px 50px 50px;
   font-family: "Poppins", sans-serif;
   letter-spacing: 1px;
}
h2, p {
    text-align: center;
}
.opener {
    background-color: #f1ece9;
    padding-top: 25px;
    padding-bottom: 5px;
}
a {
     color: #9966cc;
 }
 a:hover {
  color: #9e7bb5;
}

h3 {
    text-align: center;
}

/* Adding and styling the hero image */
#hero-image {
  height: 550px;
  width: 100%;
  background: url("assets/images/Hero_image2.jpg") no-repeat center center;
  background-size: cover;
    -ms-background-position-x: center;
  -ms-background-position-y: bottom;
  background-position: center bottom;
}

/* Styling the cover-text to appear over the hero image */
#cover-text, #cover-text h2 {
  color: #fff;
}

#cover-text {
  font-family: 'Poppins', sans-serif;
  font-size: 100%;
  text-transform: uppercase;
  letter-spacing: 4px;
  width: 500px;
  height: 225px;
  padding-top: 40px;
  padding-left: 10px;
  background-color: rgba(153, 102, 204, .7);
  bottom: 10px;
  left: 10px;
  position: absolute;
}

.fa-star {
    color: #FFD700;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, I want to stack the links on top of each other and make the logo smaller */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: center;
  }
  .header-right {
    float: none;
  }
  .logo-image {
      max-width: 100%;
  }
img.pack-img {
    max-height: 200px;
}
  /* Add media queries for responsiveness - when the screen is 500px wide or less, the hero image will be smaller */
  #hero-image {
    width: 100%;
    height: 300px;
    overflow: hidden;
    }
    iframe  {
        width: 100%; 
        height: 200px;
    }

  /* Cover text will disappear on mobile devices */
#cover-text {
  display: none;
  }
}

/* Add media queries for responsiveness - when the screen is 800px wide or less, the cover text will disappear and images will lose border*/
@media screen and (max-width: 800px) {
    #cover-text {
        display: none;
    }
    img.pack-img {
       border-radius: 0;
       height: 300px;
    }
}
/*FOOTER*/

footer {
  color: white;
  background: #9966cc;
  bottom: 0;
}

.copy {
  font-size: 12px;
  padding-top: 20px;
  border-top: 1px solid #fff;
  margin-top: 20px;
}

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
}

ul.social-network li {
  display: inline;
  margin: 0 10px;
}

ul.social-network.social-circle {
    padding-inline-start: 0;
}

/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
  background-color: #007bb7;
}

.social-network a.icoInstagram:hover {
background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  }

.social-network a.icoYoutube:hover {
    background-color: #c4302b;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoInstagram:hover i,
.social-network a.icoYoutube:hover i{
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
    text-align: center;
    margin: 0;
    line-height: 30px;
}

.social-circle li a:hover i,
.triggeredHover {
    transform: rotate(360deg);
    -moz-transfrom: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms--transition: all 0.3s;
    -o-transition: all 0.3s;
}

.social-circle i {
  color: #656565;
  transition: all 1s;
  -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -ms--transition: all 1s;
    -o-transition: all 1s;
}

.social-network a {
  background-color: #fff;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.col-lg-4 {
    padding-top: 20px;
    text-align: center;
}
.col-lg-4 img {
    margin-top: 20px;
    width: 75%;
}

.col-lg-4 a {
    color: #fff;
}
.col-lg-4 a:hover {
    color: #f88412;
}

/* Styling the call to action button */
.btn {
    background-color: #9966cc;
    color: black;
    font-family: 'Poppins', sans-serif;
    border: #9966cc;
}

.btn:hover {
    background-color: #9e7bb5;
    color: #fff;
}
.btn-custom:active {
  box-shadow: none;
  background-color: #9966cc;
  color: #fff;
}

.line {
  background-color: #f1ece9;
  margin-left: 25%;
  width: 50%;  
  font-size: 2px;
  border-top: 1px solid #9966cc;
}

.pack-img {
    border-radius: 50%;
    width:  100%;
    height: 200px;
    
}

/* Styling the gallery images*/

.gallery-img {
    text-align: center;
    width: 100%;
}

/* Styling the contact form and submit button*/

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  background-color: #9966cc;
  color: #fff;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #9e7bb5;
}

div.container {
  border-radius: 5px;
  background-color: #f1ece9;
  padding: 20px;
}
